.landing-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
  }
  
  .landing-title {
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 2px;
    background: linear-gradient(to right, white, #aaa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeInSlideDown 1s ease-in-out forwards;
  }
  
  .landing-tagline {
    font-size: 1.5rem;
    margin: 2rem 0;
    color: #eee;
  }
  
  @keyframes fadeInSlideDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }